
.MMM-RVV #divReloadWrapper {
  margin-bottom: 10px;
  /* Use here the same value as 'width' property of child element #divReload */
  margin-right: 50px; 
 }

.MMM-RVV #divReload {
  /* Adjust this value to modify the progress bar. Take care on the wrapper margin! */
  width: 50px;
  /* Adjust this value to modify the progress bar */
  height: 5px;
  position: relative;
  animation: mymove infinite;
  /* This is the default duration. The 'real' duration is set on runtime */
  animation-duration: 30s;
}

@keyframes mymove {
  /* Runs from left to right of the #divReloadWrapper */
  from {left: 0px;}
  to {left: 100%;}
}

.MMM-RVV .rvvTripRow {
  
}

.MMM-RVV header{
  margin-bottom: 0px;
}

.MMM-RVV .hRoute, .hDestination, .hDetail, .hDeparture {
  color: white;
  padding-right: 10px;
}

.MMM-RVV .hDeparture {
  padding-right: 0px;
}

.MMM-RVV .wrapLine {
  word-wrap: break-word;
}

.MMM-RVV .hDeparture {
  text-align: right;
}

.MMM-RVV .rvvTripColRoute, .rvvTripColDestination, .rvvTripColDetails, .rvvTripColDeparture, .rvvTripColDelay {
  padding-right: 10px;
} 

.MMM-RVV .rvvTripColDestination{
  max-width: 400px;
}

.MMM-RVV .rvvTripColDeparture{
  text-align: right;
  padding-right: 0px;
}

.MMM-RVV .rvvTripColDelay {
  padding-right: 0px;
}

.MMM-RVV .rvvTripColDeparture, .rvvTripColRoute{
  color: white;
}

.MMM-RVV .rvvTripHasDelay{
  color: red;
}
.MMM-RVV .rvvTripHasNoDelay{
  color: rgb(14, 246, 14);
}
