/* The basic container */
#rvv-container {
  /* width: 100%;
  padding-left: 0;
  padding-right: 10px;
  vertical-align: top; */
}

.MMM-RVV p {
  margin: 1px;
}
.MMM-RVV span {
  /* font-size: 0.7em; */
}

.MMM-RVV .rvvContent {
  /* white-space: nowrap;
  position: relative;
  overflow: hidden; /* Required to make ellipsis work */
  /* text-overflow: clip;

  top: 0%; */ 

  /* -webkit-transition: top 3s, height 3s;
  -moz-transition: top 3s, height 3s;
  transition: top 3s, height 3s; */
}

.MMM-RVV .rvvTitle{
  font-weight: bold;
  font-size: 0.6em;
  color: white;
}

.MMM-RVV #divReloadWrapper {
  /* border: none;
  border-color: white;
  border-style: solid; */
 }

.MMM-RVV #divReload {
  width: 50px;
  height: 5px;
  background: red;
  position: relative;
  animation: mymove infinite;
  animation-duration: 30s;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 90%;}
}

.MMM-RVV .rvvTripRow {
  /* font-style: italic; */
}

.MMM-RVV .hRoute, .hDestination, .hDetail, .hDeparture {
  color: white;
  padding-right: 10px;
}

.MMM-RVV .wrapLine {
  word-wrap: break-word;
}

.MMM-RVV .hDeparture {
  text-align: right;
}

.MMM-RVV .rvvTripColRoute, .rvvTripColDestination, .rvvTripColDetails, .rvvTripColDeparture, .rvvTripColDelay {
  padding-right: 10px;
} 

.MMM-RVV .rvvTripColDeparture{
  text-align: right;
}

.MMM-RVV .rvvTripColDeparture, .rvvTripColRoute{
  color: white;
}

.MMM-RVV .rvvTripHasDelay{
  color: red;
}
.MMM-RVV .rvvTripHasNoDelay{
  color: rgb(14, 246, 14);
}
