/* The basic container */
#rvv-container {
  /* width: 100%;
  padding-left: 0;
  padding-right: 10px;
  vertical-align: top; */
}

.MMM-RVV p {
  margin: 1px;
}
.MMM-RVV span {
  /* font-size: 0.7em; */
}

.MMM-RVV .rvvContent {
  /* white-space: nowrap;
  position: relative;
  overflow: hidden; /* Required to make ellipsis work */
  /* text-overflow: clip;

  top: 0%; */ 

  /* -webkit-transition: top 3s, height 3s;
  -moz-transition: top 3s, height 3s;
  transition: top 3s, height 3s; */
}

.MMM-RVV .rvvTitle{
  font-weight: bold;
  font-size: 0.8em;
  color: white;
}
.MMM-RVV .rvvTripCol {
  color: white;
}
.MMM-RVV .rvvTripRow {

}

.MMM-RVV .rvvTripHasDelay{
  color: red;
}
.MMM-RVV .rvvTripHasNoDelay{
  color: rgb(14, 246, 14);
}
